@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');

.plus{
  font-family: "Plus Jakarta Sans", sans-serif;
}

.baloo{
   font-family: "Baloo Bhaina 2", sans-serif;
}
.blue{
  color: #002169,
}
.pruple{
  color:#894b8d,
}
.light-blue{
  color: #37528e
}
.light-yellow{
  color: #f9eadc, 
}
.yellow{
  color: #ffbe17;
}
.red{
  color:#ed1730;
}


@import "tailwindcss";
@plugin "daisyui";